* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(135deg, #2a61c8, #9ebbe8);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.header-image {
  width: 100%;
  max-width: 200px; 
  display: block;
  margin: 0 auto 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.89); 
}

  
  .container {
    width: 90%;
    max-width: 400px;
    background-color: #0b366af1;
    border-radius: 10px;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    color: #0d1e34;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4c85d6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 3px 5px rgba(99, 163, 211, 0.408);
  }
  
  button:hover {
    background-color: #533bb3;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  li span {
    flex: 1;
    word-wrap: break-word;
    margin-right: 10px;
  }
  
  li .buttons {
    display: flex;
    gap: 10px;
  }
  
  li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  li button:hover {
    opacity: 0.8;
  }
  
  li button.edit-btn {
    color: green;
  }
  
  li button.delete-btn {
    color: red;
  }
  
  li button i {
    margin: 0;
    pointer-events: none;
  }
  
  #clear-all-btn {
    margin-top: 20px;
    width: 100%;
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  #clear-all-btn:hover {
    background-color: #e63946;
  }
